.Card {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.Card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.UserCard {
  width: 220px;
  height: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid grey;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  margin: 0px 20px 20px 0px;
}

.UserCard .UserImage {
  display: flex;
  width: 82px;
  height: 82px;
  background: #fff no-repeat center;
  background-size: contain;
  border-radius: 50%;
}
